{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Home {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}">
{% endblock css %}

{% block page_title %} Home {% endblock page_title %}

{% block panel_title %} Home {% endblock panel_title %}

{% block breadcrumb %}
<li class="active">Home</li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <a href="{% url 'users:crud' %}">
      <div class="small-box bg-primary">
        <div class="inner">
          <h3>44</h3>
          <p>Users</p>
        </div>
        <div class="icon"><i class="ion ion-person-add"></i></div>
      </div>
    </a>
  </div>
</div>
{% endblock content %}
