<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/bootstrap-material-design.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/ripples.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/MaterialAdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/skins/skin-red.min.css' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
  <style media="screen">
  .p-bg {
    padding: 5px 10px;
  }
  </style>
  <title>{% block title %} Atenas Bank {% endblock title %}</title>
  {% block css %}{% endblock css %}
</head>
<body class="hold-transition skin-red sidebar-mini">
  <div class="wrapper">
    <header class="main-header">
      <a href="#" class="logo">
        <span class="logo-mini"></i><b>AB</b></span>
        <span class="logo-lg">Atenas Bank</span>
      </a>
      <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">
                {{ request.user.get_full_name }}
              </a>
            </li>
            <li>
              <a href="{% url 'users:logout' %}"><i class="fa fa-sign-out"></i> Sign out </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    {% include "sidebar.html" %}
    <div class="content-wrapper">
      <section class="content-header">
        <div class="list-inline">
          <li>
            <h1>
              {% block page_title %} Title {% endblock page_title %}
            </h1>
          </li>
        </div>
        <ol class="breadcrumb">
          {% block breadcrumb %}{% endblock breadcrumb %}
        </ol>
      </section>
      <section class="content">
        {% block content %}
        <div class="row">
          {% block panel %}
          <div class="col-sm-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">{% block panel_title %} Panel title {% endblock panel_title %}</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-sm-12">
                    {% block panel_body %} Panel body {% endblock panel_body %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock panel %}
          {% block table %}
          <div class="col-sm-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">{% block table_title %} Table title {% endblock table_title %}</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-sm-12">
                    <table id="table" class="table table-bordered table-striped dataTable" role="grid">
                      <thead>
                        <tr role="row">
                          {% block table_columns %}
                          <th>Columns</th>
                          {% endblock table_columns %}
                        </tr>
                      </thead>
                      <tbody>
                        {% block table_rows %}
                        <tr role="row" class="odd">
                          <td>Row</td>
                        </tr>
                        {% endblock table_rows %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock table %}
        </div>
        {% endblock content %}
      </section>
    </div>
    {% include "footer.html" %}
  </div>
  {% block modals %}
  <div id="modal-create" class="modal fade modal-create" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
          <div class="modal-title">{% block modal_create_title %} Modal create title {% endblock modal_create_title %}</div>
        </div>
        <div class="modal-body">{% block modal_create_body %} Modal create body {% endblock modal_create_body %}</div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
  <div id="modal-read" class="modal fade modal-read" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
          <div class="modal-title">{% block modal_read_title %} Modal read title {% endblock modal_read_title %}</div>
        </div>
        <div class="modal-body">{% block modal_read_body %} Modal read body {% endblock modal_read_body %}</div>
        <div class="modal-footer">{% block modal_read_footer %} Modal read footer {% endblock modal_read_footer %}</div>
      </div>
    </div>
  </div>
  <div id="modal-update" class="modal fade modal-update" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
          <div class="modal-title">{% block modal_update_title %} Modal update title {% endblock modal_update_title %}</div>
        </div>
        <div class="modal-body">{% block modal_update_body %} Modal update body {% endblock modal_update_body %}</div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
  <div id="modal-delete" class="modal fade modal-delete" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
          <div class="modal-title">{% block modal_delete_title %} Modal delete title {% endblock modal_delete_title %}</div>
        </div>
        <div class="modal-body">{% block modal_delete_body %} Modal delete body {% endblock modal_delete_body %}</div>
        <div class="modal-footer">{% block modal_delete_footer %} Modal delete footer {% endblock modal_delete_footer %}</div>
      </div>
    </div>
  </div>
  {% endblock modals %}
  <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'dist/js/material.min.js' %}"></script>
  <script src="{% static 'dist/js/ripples.min.js' %}"></script>
  <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
  <script>$.material.init();</script>
  <script>$(function () { $('#table').DataTable() })</script>
  {% block js %}{% endblock js %}
</body>
</html>
