{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/bootstrap-material-design.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/ripples.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/MaterialAdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/skins/skin-red.min.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

  <title>{% block title %} Atenas Bank {% endblock title %}</title>
  {% block css %}{% endblock css %}

</head>
<body class="hold-transition skin-red sidebar-mini">
  <div class="wrapper">
    <header class="main-header">
      <a href="#" class="logo">
        <span class="logo-mini"></i><b>AB</b></span>
        <span class="logo-lg">Atenas Bank</span>
      </a>
      <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">
                {% block user_name %} Jack Sparrow {% endblock user_name %}
              </a>
            </li>
            <li>
              <a href="#"><i class="fa fa-sign-out"></i> Sign out</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    {% include "sidebar.html" %}

    <div class="content-wrapper">
      <section class="content-header">
        <div class="list-inline">
          <li>
            <h1>
              {% block page_title %}
                Title
              {% endblock page_title %}
            </h1>
          </li>
          <li>
            <p>
              {% block page_description %}
                Description
              {% endblock page_description %}
            </p>
          </li>
        </div>
        <ol class="breadcrumb">
          {% block breadcrumb %}
          <li><a href="#">Level 1</a></li>
          <li class="active">Level 2</li>
          {% endblock breadcrumb %}
        </ol>
      </section>

      <section class="content">
        {% block content %}
        <div class="row">
          <div class="col-sm-6">
            <div class="panel">
              <div class="panel-heading">
                <div class="panel-title">
                  <h4>
                    {% block panel_title %}
                      Title
                    {% endblock panel_title %}
                  </h4>
                </div>
              </div>
              <div class="panel-body">
                {% block panel_body %}
                  Body
                {% endblock panel_body %}
              </div>
            </div>
          </div>
        </div>
        {% endblock content %}

      </section>
    </div>

    {% include "footer.html" %}

  </div>
  <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'dist/js/material.min.js' %}"></script>
  <script src="{% static 'dist/js/ripples.min.js' %}"></script>
  <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
  <script>$.material.init();</script>

  {% block js %}
  {% endblock js %}

</body>
</html>
