{% extends "card_base.html" %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="info-box">
        <div class="info-box-icon bg-aqua module">
          <h3>Modulo</h3>
          <p><strong>1</strong></p>
        </div>
        <div class="info-box-content">
          <span class="text-center">
            <h2 class="info"><strong>G01</strong></h2>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
