{% extends "base.html" %}
{% load staticfiles %}
{% load rest_framework %}

{% block title %} Users {% endblock title %}

{% block page_title %} Users administration {% endblock page_title %}

{% block breadcrumb %}
<li><a href="{% url 'home:home' %}">Home</a></li>
<li class="active">Users</li>
{% endblock breadcrumb %}

{% block panel %}{% endblock panel %}

{% block table_title %}
Users
<a href="#modal-create" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-create">
  + New user
</a>
{% endblock table_title %}

{% block table_columns %}
<th class="sorting_asc" tabindex="0" aria-controls="table" rowspan="1" colspan="1">
  Full name
</th>
<th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1">
  Username
</th>
<th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1">
  Cedula
</th>
<th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1">
  Email
</th>
<th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1">
  Position
</th>
<th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1">
  Status
</th>
<th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1">
  Actions
</th>
{% endblock table_columns %}

{% block table_rows %}
<tr v-for="user in users" role="row" class="odd">
  <td class="sorting_1">
    ${ user.first_name }
  </td>
  <td>
    ${ user.username }
  </td>
  <td>
    ${ user.cedula }
  </td>
  <td>
    ${ user.email }
  </td>
  <td>
    ${ user.position }
  </td>
  <td class="text-center">
    <p v-if="user.is_active" class="badge bg-green p-bg">Active</p>
    <p v-else class="badge bg-red p-bg">Inactive</p>
  </td>
  <td class="text-center">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        Actions <span class="fa fa-caret-down"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#modal-delete" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-delete">
            <span v-if="user.is_active">
              <i class="fa fa-user-times"></i> Deactivate
            </span>
            <span v-else>
              <i class="fa fa-user-plus"></i> Activate
            </span>
          </a>
        </li>
        <li>
          <a href="#modal-update" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-update">
            <i class="fa fa-edit"></i> Update
          </a>
        </li>
        <li>
          <a href="#modal-read" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-read">
            <i class="fa fa-info-circle"></i> More info
          </a>
        </li>
      </ul>
    </div>
  </td>
</tr>
{% endblock table_rows %}

{% block modal_create_title %}
<h3>New user</h3>
{% endblock modal_create_title %}

{% block modal_create_body %}
<div v-if="showErros" class="alert alert-danger">
  <h4><i class="icon fa fa-ban"></i> Errors!</h4>
  <ul>
    <li v-for="error in errors">
      <span v-for="e in error">
        ${ e }
      </span>
    </li>
  </ul>
</div>
<form @submit.prevent="addUser()">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="cedula">Cedula</label>
        <input id="cedula" placeholder="Cedula" v-model="newUser.cedula" type="text" class="form-control" required="required">
      </div>
      <div class="form-group">
        <label for="first_name">First name</label>
        <input id="first_name" placeholder="First name" v-model="newUser.first_name" type="text" class="form-control" required="required">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" placeholder="Email" v-model="newUser.email" type="text" class="form-control" required="required">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input id="address" placeholder="Address" v-model="newUser.address" type="text" class="form-control" required="required">
      </div>
      <div class="form-group">
        <label for="password1">Password</label>
        <input id="password1" placeholder="Password" v-model="newUser.password1" type="password" class="form-control" required="required">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" placeholder="Username" v-model="newUser.username" type="text" class="form-control" required="required">
      </div>
      <div class="form-group">
        <label for="last_name">Last name</label>
        <input id="last_name" placeholder="Last name" v-model="newUser.last_name" type="text" class="form-control" required="required">
      </div>
      <div class="form-group">
        <label for="position">Position</label>
        <input id="position" placeholder="Position" v-model="newUser.position" type="text" class="form-control" required="required">
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input id="phone" placeholder="Phone" v-model="newUser.phone" type="text" class="form-control" required="required">
      </div>
      <div class="form-group">
        <label for="password2">Password confirmation</label>
        <input id="password2" placeholder="Password confirmation" v-model="newUser.password2" type="password" class="form-control" required="required">
      </div>
    </div>
  </div>
  <div class="pull-right">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>
{% endblock modal_create_body %}

{% block modal_read_title %}
<h3>Info user</h3>
{% endblock modal_read_title %}

{% block modal_read_body %}
<p>Info here</p>
{% endblock modal_read_body %}

{% block modal_update_title %}
<h3>Update user</h3>
{% endblock modal_update_title %}

{% block modal_update_body %}
<form @submit.prevent="updateUser()">
  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock modal_update_body %}

{% block modal_delete_title %}
<h3>Delete user</h3>
{% endblock modal_delete_title %}

{% block modal_delete_body %}
<p>Delete user here</p>
{% endblock modal_delete_body %}

{% block modal_delete_footer %}
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
{% endblock modal_delete_footer %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
Vue.prototype.$http = axios
new Vue({
  el: '#app',
  delimiters: ['${', '}'],
  data () {
    return {
      errors: {},
      showErros: false,
      users: [],
      loading: false,
      currentUser: {},
      newUser: {
        username: '',
        cedula: '',
        first_name: '',
        last_name: '',
        email: '',
        is_active: false,
        position: '',
        phone: '',
        address: '',
        password1: '',
        password2: ''
      }
    }
  },
  mounted: function () {
    this.getUsers()
  },
  methods: {
    cleanForm: function () {
      this.newUser = {
        username: '',
        cedula: '',
        first_name: '',
        last_name: '',
        email: '',
        is_active: false,
        position: '',
        phone: '',
        address: '',
        password1: '',
        password2: ''
      }
    },
    getUsers: function () {
      this.loading = true
      this.$http.get('api/users/')
      .then((response) => {
        this.users = response.data
        this.loading = false
      })
      .catch((err) => {
        this.loading = false
        console.log(err)
      })
    },
    getUser: function (id) {
      this.loading = true
      this.$http.get(`api/users/${id}/`)
      .then((response) => {
        this.currentUser = response.data
        $("#editUserModal").modal('show')
        this.loading = false
      })
      .catch((err) => {
        this.loading = false
        console.log(err)
      })
    },
    addUser: function () {
      this.loading = true
      this.$http.post('api/users/', this.newUser)
      .then((response) => {
        this.loading = false
        $("#modal-create").modal('hide')
        this.cleanForm()
        this.getUsers()
        this.showErros = false
      })
      .catch((err) => {
        this.loading = false
        console.log(err.response.data)
        this.errors = err.response.data
        this.showErros = true
      })
    },
    updateUser: function () {
      this.loading = true
      this.$http.put(`api/users/${this.currentUser.id}/`, this.currentUser)
      .then((response) => {
        this.loading = false
        this.currentUser = response.data
        this.getUsers()
      })
      .catch((err) => {
        this.loading = false
        console.log(err)
      })
    },
    deleteUser: function (id) {
      this.loading = true
      this.$http.delete(`api/users/${id}/`)
      .then((response) => {
        this.loading = false;
        this.getUsers();
      })
      .catch((err) => {
        this.loading = false
        console.log(err)
      })
    },
    isEmpty: function (obj) {
      for (var item in obj) {
        return false
      }
      return true
    }
  }
})
</script>
{% endblock js %}
