{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title %} Users {% endblock title %}

{% block page_title %} Users administration {% endblock page_title %}

{% block breadcrumb %}
<li><a href="{% url 'home:home' %}">Home</a></li>
<li class="active">Users</li>
{% endblock breadcrumb %}


{% block panel %}{% endblock panel %}


{% block table_title %}
Users
<a href="#modal-create" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-create">
  + New user
</a>
{% endblock table_title %}

{% block table_columns %}
<th class="sorting_asc" tabindex="0" aria-controls="table" rowspan="1" colspan="1">
  Full name
</th>
<th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1">
  Email
</th>
<th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1">
  Status
</th>
<th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1">
  Actions
</th>
{% endblock table_columns %}

{% block table_rows %}
{% for user in users %}
<tr role="row" class="odd">
  <td class="sorting_1">
    {{ user.get_full_name }}
  </td>
  <td>
    {{ user.email }}
  </td>
  <td class="text-center">
    {% if user.is_active %}
    <p class="badge bg-green p-bg">Active</p>
    {% else %}
    <p class="badge bg-red p-bg">Inactive</p>
    {% endif %}
  </td>
  <td class="text-center">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        Actions <span class="fa fa-caret-down"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a
          href="#modal-delete"
          class="btn btn-danger btn-sm"
          data-toggle="modal"
          data-target="#modal-delete"
          data-id="{{ user.id }}"
          data-fullname="{{ user.get_full_name }}"
          data-status="{% if user.is_active %} Deactivate {% else %} Activate  {% endif %}">
            <i class="fa fa-user-times"></i> Deactivate
          </a>
        </li>
        <li>
          <form method="post" class="text-center">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ user.id }}">
            <button name="update-get" class="btn btn-primary btn-sm" type="submit">
              <i class="fa fa-edit"></i> Update
            </button>
          </form>
        </li>
        <li>
          <a
          href="#modal-read"
          class="btn btn-info btn-sm"
          data-toggle="modal"
          data-target="#modal-read"
          data-username="{{ user.username }}"
          data-fullname="{{ user.get_full_name }}"
          data-email="{{ user.email }}"
          data-status="{% if user.is_active %} Deactivate {% else %} Activate  {% endif %}">
           <i class="fa fa-info-circle"></i> More info
          </a>
        </li>
      </ul>
    </div>
  </td>
</tr>
{% endfor %}
{% endblock table_rows %}


{% block modal_create_title %}<h3>New user</h3>{% endblock modal_create_title %}

{% block modal_create_body %}
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form_create %}
  <button name="create" class="btn btn-success pull-right" type="submit">Create</button>
</form>
{% endblock modal_create_body %}


{% block modal_read_title %}
<h3>Info</h3>
{% endblock modal_read_title %}

{% block modal_read_body %}
<div class="row">
  <div class="col-sm-12">
    <p><strong>Username:</strong> <span class="username"></span>.</p>
    <p><strong>Full name:</strong> <span class="fullname"></span>.</p>
    <p><strong>Email:</strong> <span class="email"></span>.</p>
    <p><strong>Status:</strong> <span class="status"></span>.</p>
  </div>
</div>
{% endblock modal_read_body %}

{% block modal_read_footer %}
<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
{% endblock modal_read_footer %}


{% block modal_update_title %}
<h3>Update user</h3>
{% endblock modal_update_title %}

{% block modal_update_body %}
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form_update %}
  {% if update %}
  <input type="hidden" name="id" value="{{ id }}">
  {% endif %}
  <button name="update" class="btn btn-success pull-right" type="submit">Update</button>
</form>
{% endblock modal_update_body %}


{% block modal_delete_title %}<h3><span class="status"></span> user</h3>{% endblock modal_delete_title %}

{% block modal_delete_body %}
<div class="row">
  <div class="col-sm-12">
    <p>
      Are you sure to <strong><span class="status"></span></strong>
      the user <strong><span class="fullname"></span></strong>?
    </p>
  </div>
</div>
{% endblock modal_delete_body %}

{% block modal_delete_footer %}
<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
<button id="delete" type="button" class="btn btn-success"><span class="status"></span></button>
{% endblock modal_delete_footer %}


{% block js %}
<script type="text/javascript">
$('#modal-delete').on('shown.bs.modal', function (event) {
  var target = $(event.relatedTarget)
  var id = target.data('id')
  var fullname = target.data('fullname')
  var status = target.data('status')
  var w = $(this)
  w.find('.modal-title .status').text(status)
  w.find('.modal-body .fullname').text(fullname)
  w.find('.modal-body .status').text(status)
  w.find('.modal-footer .status').text(status)
  $('#delete').click(function () {
    $.post(
      "{% url 'users:delete' %}",
      {
        'csrfmiddlewaretoken': '{{ csrf_token }}',
        'id': id
      },
      function (data) {
        window.location.href = data.url;
      }
    )
  })
})
$('#modal-read').on('shown.bs.modal', function (event) {
  var target = $(event.relatedTarget)
  var username = target.data('username')
  var fullname = target.data('fullname')
  var email = target.data('email')
  var status = target.data('status')
  var w = $(this)
  w.find('.modal-body .username').text(username)
  w.find('.modal-body .fullname').text(fullname)
  w.find('.modal-body .email').text(email)
  w.find('.modal-body .status').text(status)
})
$(window).on('load', function () {
  {% if new %}
    $('#modal-create').modal('show');
  {% endif %}
  {% if update %}
    $('#modal-update').modal('show');
  {% endif %}
})
</script>
{% endblock js %}
